* {
  font-size: calc((1vh + 1vw)*1.5);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 90vw;
}

.title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.company {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 25px;
  align-self: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.branches{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  padding-left: 30px;
  border-left: solid 2px #000;
}

.company_branch{
  display: flex;
  justify-content: space-between;
}

.company_title {
  font-size: 1.2rem;
  margin-bottom: 35px;
  margin-top: 35px;
}

.branch_title {
  margin-top: 25px;
  margin-bottom: 25px;
}

input {
  height: 50px;
  width: 50px;
  align-self: center;
  border-radius: 100px;
  vertical-align: middle;
  border: 1px solid #ddd;
  /* appearance:inherit; */
  /* -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
}

.branches input {
  box-shadow: 10px 5px 10px rgb(204, 204, 204)
}

input:checked {
  /* background-color: rgb(156, 227, 182); */
}